@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

    --pip_green-light: #24d91f;
    --pip_green-mid: #21c61c;
    --pip_green-dark: #1ba117;

    --pip_amber-light: #ffc824;
    --pip_amber-mid: #ffbf00;
    --pip_amber-dark: #e1a800;

    --pip-light: var(--pip_green-light);
    --pip-mid: var(--pip_green-mid);
    --pip-dark: var(--pip_green-dark);
  }