---
import Layout from '../layouts/layout.astro'
---

<Layout>
	<div class="bg-stone-900 h-screen grid place-items-center text-lime-500 text-center text-mono">
		<div class="flex flex-col justify-between grid">
			<h1 class="text-7xl font-semibold drop-shadow-lg shadow-lime-400">Fallout 3 Checklist</h1>
			<div class="text-xl">
				A 100+% Completionist Guide of the Capital Wasteland
			</div>
			<div class="grid grid-cols-2">
				<a href="about" class="hover:text-lime-400 text-xl underline decoration-dashed">About</a>
				<a href="guide" class="hover:text-lime-400 text-xl underline decoration-dashed">Guide</a>
			</div>
		</div>
	</div>
</Layout>