---
import Link from '../components/link.astro'
import '../styles/base.css';

const {showNav, baseName} = Astro.props;

let parsedBase = baseName;
while(parsedBase?.startsWith("/")) {
	parsedBase = parsedBase.slice(1);
}

if(parsedBase?.length > 0) {
	parsedBase = parsedBase+"/"
}



---

<html lang="en">
	<head>
		<base href={`/fallout3-checklist/`} />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/fallout3-checklist/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    
		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preload" href="https://fonts.googleapis.com/css?family=VT323&display=swap" as="style"onload="this.onload=null;this.rel='stylesheet'" />
			<title>Fallout 3 Checklist</title>

		<script is:inline src="/fallout3-checklist/colorToggle.js"></script>
			
	</head>
  <body class="bg-stone-900 min-h-screen overflow-x-auto">
		{showNav && 
			<nav>
				<div class="pl-4 pt-4">
					<Link href="/fallout3-checklist/" label="<--- Back to Home" />
				</div>
			</nav>
		}
    <slot />
	</body>
</html>
